# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    my.cnf                                             :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: nelisabe <nelisabe@student.42.fr>          +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2020/12/20 19:56:12 by nelisabe          #+#    #+#              #
#    Updated: 2020/12/23 18:42:19 by nelisabe         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

[mysqld]
bind-address = 0.0.0.0 #allow any ip address host
